html, body{
	padding: 0;
	margin: 0;
}
.bb{
	border-bottom: 1px solid black;
}
.fa-circle{
	font-size: 6px;
	margin: 0 3px;
}
.category, section{
	padding: 0px;
	margin:0;
}
h3{
	color: black;
}
.slider {
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vw);
	scroll-snap-type: x mandatory;
	display: flex;
	overflow-x: scroll;
}
section {
	border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
.content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
}
.category{
	scroll-snap-type: y mandatory;
	overflow-y: scroll; 
}
.home-decor{
	background: rgb(249,192,80);
}
.jewellery{
	background: rgb(183,205,92);
}
.sectiona, .sectionb, .sectionc, .sectiond{
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
.sectiona{
	background-color: red;
visibility: hidden;
}
.sectionb{
	background-color:white;
}
.sectionc{
	background-color: green;
}
.sectiond{
	background-color: blue;
}
.navbar-nav{
	font-family: 'Montserrat';
}
nav{
	background-color: rgba(255,255,255,0);
}
.navbar-nav{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.navbar-brand{
	line-height: 18px;
}
.nav-item{
	padding: 0px 20px !important;
	font-size: 12px;
	color: rgba(0,0,0,1);
	font-weight: bolder;
}
.navbar-nav a:hover{
	color: white;
	text-decoration: none;
}
.navbar-brand{
	color: white !important;
	font-weight: 200;
	letter-spacing: 2px;
}

.category{
	padding-left: 0px;
}
.homedecor-side-section{
	background: url(img3.png);
	background-size: cover;	
}
.jewellery-side-section{
	background: url(img1.png);
	background-size: cover;	
}
::-webkit-scrollbar {
display: none;
}
.jewellery-side-section, .homedecor-side-section{
	height: 100vh;
}
.background{
	z-index: 5;	
}
.background-box-yellow{
	background: rgb(249,192,80);
	height: 40vh;
	top: 60vh;
}

@media only screen and (max-width: 992px) {
  .jewellery-side-section, .homedecor-side-section{
		height: 50vh;
		width: 80vh;
	}
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 576px) {

}