@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Dulcelin';
  src: url("Dulcelin.otf") format('opentype');
}

html, body{
	padding: 0;
	margin: 0;
}
.bb{
	border-bottom: 1px solid black;
}
.down-arrow{
	position: absolute;
	bottom: 10px;
	left: 50%;
	right:50%;
	animation:bounce-down 1s infinite;
}
.right-arrow{
	position: absolute;
	top:50%;
	bottom: 50%;
	right: 10px;
	animation:bounce-right 1s infinite;
}
.left-arrow{
	position: absolute;
	top:50%;
	bottom: 50%;
	left: 10px;
	animation:bounce-left 1s infinite;
}
.down-arrow, .right-arrow, .left-arrow{
	font-size: 30px;
}
/* ::-webkit-scrollbar {
	display: none;
	} */
.padding_none{
	padding: 0px;
}
.fa-circle{
	font-size: 8px;
	margin: 0 2px;
}
.fa-circle.active{
	color: white;
}
.category, section{
	padding: 0px;
	margin:0;
}
h3{
	color: black;
}
#nav{
	position: absolute;
	z-index: 100;
	top: 30px;
	left: 30px;
	opacity: 1;
}
.hide{
	opacity: 0;
}
.slider {
	/* font-family: sans-serif; */
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vw);
	scroll-snap-type: x mandatory;
	display: flex;
	overflow-x: scroll;
}
section {
	border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
.content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
}
.category{
	scroll-snap-type: y mandatory;
	overflow-y: scroll; 
}
.home-decor{
	background: rgb(249,192,80);
}
.jewellery{
	background: rgb(183,205,92);
}
.sectiona, .sectionb, .sectionc, .sectiond{
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
.sectiona{
	background-color: red;
	visibility: hidden;
}
.sectionb, .sectionc, .sectiond{
	background-color:white;
	position: relative;
	z-index: 5;
}
.navbar-nav{
	font-family: 'Montserrat';
}
nav{
	background-color: rgba(255,255,255,0);
}
.navbar-nav{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.navbar-brand{
	line-height: 18px;
}
.nav-item{
	padding: 0px 20px !important;
	font-size: 12px;
	color: rgba(0,0,0,1);
	font-weight: bolder;
}
.navbar-nav a:hover{
	color: white;
	text-decoration: none;
}
.navbar-brand{
	color: black !important;
	font-weight: 200;
	letter-spacing: 2px;
}
.carousel-sub-category{
	position: absolute;
	bottom: 35.5%;
	font-family: Montserrat;
	text-align: left;
	margin-left: 15px;
	/* left: 30%; */
}
.homedecor-side-section{
	background: url(img3.png);
	background-size: cover;	
}
.jewellery-side-section{
	background: url(img1.png);
	background-size: cover;	
}
.homedecor-side-section, .jewellery-side-section, .bb{
	position: relative;
	left: 15px;
}
.jewellery-side-section, .homedecor-side-section{
	height: 102vh;
}
.background, .big-image{
	position: absolute;
}
/* layers */
.background{
	z-index: 5;	
}
.description{
	z-index: 30;
}
.big-image{
	z-index: 15;
	
}
.product-name{
	z-index: 20;
	text-transform: uppercase;
}
/* layers */

/* layer1 */
.background-box-homedecor, .background-box-jewellery{
	height: 60vh;
	top: 40vh;
}
.background-box-homedecor{
	background: #fbc144;
}
.background-box-jewellery{
	background: rgb(183,205,92);
}

/* layer2 */
.sub-category-image{
	height: 80vh;
	margin-top: 20%;
}
.typo{
	font-size: 550px;
	margin-top: 250px;
	position: relative;
	left: -100px;
	color: rgb(223,175,64);
	font-family: 'Dulcelin';
}
/* layer3 */
.border_top{
	border-top: 1px solid grey !important;
}
.description .carousel{
	height: 50vh;
}
.description .text{
	height: 50vh;
}
.text .product-name{
	font-size: 30px;
	font-family: Montserrat;
}
.text .product-desc{
	text-align: justify;
}
.carousel-image{
	height: 320px;
	margin-bottom: 20px;
}
.carousel-image:hover {
	transform: scale(1.4);
	z-index: 40;
}
.maximize{
	font-size: 12px;
}
.carousel-buttons-top{
	height: 85%;
}
.carousel-buttons-bottom{
	height: 15%;
}
.fa-circle:hover{
	cursor: pointer;
}
.big-image img{
	filter: drop-shadow(-6px 5px 5px black);
}
@media only screen and (max-width: 1440px) {
  .typo{
		font-size: 400px;
		margin-top: 220px;
	}
	.carousel-image{
		height: 280px;
		margin-bottom: 15px;
	}
	.carousel-sub-category{
		bottom: 30%;
	}
}
@media only screen and (max-width: 1370px) {
  .typo{
		font-size: 300px; 
		margin-top: 200px;
	}
	.carousel-image{
		height: 250px;
		margin-bottom: 15px;
	}
	.text{
		font-size: 12px;
	}
	.carousel-sub-category{
		bottom: 30%;
	}
}
@media only screen and (max-width: 992px) {
  .jewellery-side-section, .homedecor-side-section{
		height: 50vh;
		width: 80vh;
	}
	.carousel-image{
		height: 220px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
  .text,.carousel-indicators,.carousel-buttons-bottom{
		display: none !important;
	}
}
@media only screen and (max-width: 576px) {
	.text,.carousel-indicators,.carousel-buttons-bottom{
		display: none !important;
	}
}

/* animations */
@keyframes bounce-right{
	0%       { right:5px; }
	25%, 75% { right:15px; }
	50%      { right:20px; }
	100%     { right:10px; }
}
@keyframes bounce-left{
	0%       { left:5px; }
	25%, 75% { left:15px; }
	50%      { left:20px; }
	100%     { left:10px; }
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}