@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Dulcelin';
  src: url("Dulcelin.otf") format('opentype');
}
#master-container{
	scroll-behavior: smooth;
}
html, body{
	padding: 0;
	margin: 0;
}
.navbar-light .navbar-toggler{
	border: none;
}
.navbar img{
	opacity: 0.60;
}
.bb{
	border-bottom: 1px solid black;
}
.typo, .musing{
	font-family: 'Dulcelin';
}
.down-arrow{
	bottom: 10px;
	left: 50%;
	right:50%;
	animation:bounce-down 1s infinite;
}
.down-arrow, .right-arrow, .left-arrow{
	font-size: 30px;
	position: absolute;
}
.category-carousel, .carousel-item img{
	height:220px;
	width: 380px;
}
.sub-category-carousel{
	height:180px;
	width: 200px;	
}
.right-arrow, .left-arrow{
	top:50%;
	bottom: 50%;
	color: white;
}
.right-arrow{
	right: 10px;
	animation:bounce-right 1s infinite;
}
.left-arrow{
	left: 10px;
	animation:bounce-left 1s infinite;
}
.padding_none{
	padding: 0px;
}
.fa-circle{
	font-size: 8px;
	margin: 0 2px;
}
.fa-circle.active{
	color: white;
}
.description .fa-circle.active{
	color: grey;	
}
.category, section{
	padding: 0px;
	margin:0;
}
h3{
	color: black;
}
#nav{
	position: absolute;
	z-index: 100;
	top: 30px;
	left: 30px;
	opacity: 1;
}
.hide{
	opacity: 0;
}
.slider {
	scroll-snap-type: x mandatory;
	display: flex;
	overflow-x: scroll;
}
section {
	border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
.content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
	width: 100%;
	left: 0;
}
.category{
	scroll-snap-type: y mandatory;
	overflow-y: scroll; 
}
.home-decor{
	background: rgb(249,192,80);
}
.jewellery{
	background: rgb(183,205,92);
}
.sectiona, .sectionb, .sectionc, .sectiond{
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
.sectiona{
	background-color: red;
	visibility: hidden;
}
.sectionb, .sectionc, .sectiond{
	background-color:white;
	position: relative;
	z-index: 5;
}
.navbar-nav{
	font-family: 'Montserrat';
}
nav{
	background-color: rgba(255,255,255,0);
}
.navbar-nav{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.navbar-brand{
	line-height: 18px;
}
.nav-item{
	padding: 0px 20px !important;
	font-size: 12px;
	color: rgba(0,0,0,1);
	font-weight: bolder;
}
.navbar-nav a:hover{
	color: white;
	text-decoration: none;
}
.navbar-brand{
	color: black !important;
	font-weight: 200;
	letter-spacing: 2px;
}
.navbar-collapse{
	position: relative;
	top: 10px;	
}

.carousel-sub-category{
	position: absolute;
	bottom: 35.5%;
	font-family: Montserrat;
	text-align: left;
	margin-left: 15px;
	text-transform: uppercase;
}
.homedecor-side-section{
	background: url(img3.png);
	background-size: cover;	
}
.jewellery-side-section{
	background: url(img1.png);
	background-size: cover;	
}
.homedecor-side-section, .jewellery-side-section, .bb{
	position: relative;
	left: 15px;
}
.jewellery-side-section, .homedecor-side-section{
	height: 102vh;
}
.background, .big-image{
	position: absolute;
}
/* layers */
.background{
	z-index: 5;	
}
.description{
	z-index: 10;
}
.big-image{
	z-index: 15;
	
}
.product-name{
	z-index: 20;
	text-transform: uppercase;
}
/* layers */

/* layer1 */
.background-box-homedecor, .background-box-jewellery{
	height: 60vh;
	top: 40vh;
}
.background-box-homedecor{
	background: #fbc144;
}
.background-box-jewellery{
	background: rgb(183,205,92);
}

/* layer2 */
.sub-category-image{
	height: 80vh;
	margin-top: 23%;
}
.typo{
	font-size: 550px;
	margin-top: 250px;
	position: relative;
	left: -100px;
}
.home-decor .typo{
	color: rgb(223,175,64);
}
.jewellery .typo{
	color: green;
}
/* layer3 */
.border_top{
	border-top: 1px solid grey !important;
}
.border_top_mobile{
	border-top: 1px solid grey !important;	
}
.description .carousel{
	height: 50vh;
}
.description .text{
	height: 50vh;
}
.text .product-name{
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 200;
}
.text .product-desc{
	text-align: justify;
	font-size: 14px;
}
.carousel-image{
	height: 220px;
	margin-bottom: 20px;
}
.carousel-buttons{
	padding-top: 50px;
}
.maximize{
	font-size: 12px;
	position: absolute;
	right: -20px;
	top: -5px;
}
.carousel-buttons-top{
	height: 85%;
	left: -8px;
}
.carousel-buttons-bottom{
	height: 15%;
	left: 10px;
}
.fa-circle:hover{
	cursor: pointer;
}
.big-image img{
	filter: drop-shadow(-6px 5px 5px black);
}
.carousel-image-container{
	position: relative !important;
	left: -5px;
	top: 80px;
}

.carousel-buttons{
	position: relative !important;
	top: 80px;
}
.carousel-image{
	background-image: url('img2.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.description .carousel-indicators{
	 position: relative;
	 top: 25px;
	 left: 80%;
}

@media only screen and (min-width: 1080px) {
	.carousel-sub-category .top-fix{
		position: relative;
		top: -12px;
	}
	.description .border_top{
		margin-top: 80px;
	}
	.carousel-image{
		height: 150px !important;
		width: 220px !important;
	}
	.carousel-image-container{
		position: relative !important;
		left: -35px;
		top: 80px;
	}
	.typo{
		font-size: 400px;
		margin-top: 300px !important;
	}
	.sub-category-image{
		height: 75vh;
		margin-top: 45% !important;
	}
	.carousel-buttons-top{
		left: -15px;
	}
	.carousel-buttons-bottom{
		left: -30px;
	}
	.maximize{
		right: -5px;
	}
	.product-name{
		padding-left: 100px;
	}
}
@media only screen and (min-width: 1280px) and (max-width: 1280px) {
	.top-fix{
		position: relative;
		margin-top: -50px;
	}
	.carousel-image-container{
		position: relative !important;
		left: -5px;
		top: 85px;
	}
	.carousel-button-top{
		left: -5px;
	}
	.typo{
		font-size: 500px; 
		margin-top: 350px !important;
		margin-right: 100px !important;
	}
	.description .carousel{
		top: 135% !important;
		left:5px;
		width: 240px;
	}
	.description .carousel-indicators{
	 position: relative;
	 top: 25px;
	 left: 75%;
}
	.description .carousel-inner{
		height: 150px;
	}
	.maximize{
		top: 0px;
		left: 115px;
	}
	.carousel-buttons-bottom .fas{
		position:relative;
		left:30px;
	}
	.product-name{
		position:relative;
		left: -10px;
	}
}
@media only screen and (min-width: 1366px) {
	.carousel-image-container{
		position: relative !important;
		left: -35px;
		top: 80px;
	}
	.typo{
		font-size: 400px;
		margin-top: 280px !important;
	}
	.sub-category-image{
		height: 75vh;
		margin-top: 35% !important;
	}
	.product-name{
		padding-left: 90px;
	}
	.carousel-buttons-bottom{
		left: 5px;
	}
	.carousel-buttons-top{
		left:0px;
	}
	.maximize{
		right: -15px;
	}
	.description .carousel{
		top: 90% !important;
		left: 20px;
		width: 250px;
	}
	.description .carousel-inner{
		height: 180px;
	}
	.maximize{
		top: -30px;
		right:10px;
	}
	.carousel-buttons-bottom .fas{
		position:relative;
		left:-15px;
	}
	.description .carousel-indicators{
	 position: relative;
	 top: 25px;
	 left: 75%;
	}
}
@media only screen and (min-width: 1440px) {
  .typo{
		font-size: 370px;
		margin-top: 250px;
		margin-right: 90px;
	}
	.carousel-image{
		height: 180px !important;
		width: 300px !important;
		display: flex;
		justify-content: start;
		margin-bottom: 15px;
	}
	.sub-category-image{
		height: 80vh;
		margin-top: 23% !important;
	}
	.carousel-image-container{
		position: relative !important;
		left: -5px;
		top: 130px;
	}
	.product-name{
		padding-left: 75px;
		padding-top: 5px;
	}
	.carousel-sub-category{
		bottom: 30%;
	}
	.description .border_top{
		margin-top: 80px;
	}
	.description .carousel{
		top: 85% !important;
		left: 0px;
		width: 240px;
	}
	.description .carousel-inner{
		height: 150px;
	}
	.description .carousel-indicators{
	 position: relative;
	 top: 25px;
	 left: 80%;
}
	.carousel-buttons-bottom .fas{
		position:relative;
		left:0px;
	}
	.maximize{
		top: 0px;
		right:-20px;
	}
}
@media only screen and (min-width: 1920px) {
	.carousel-sub-category .top-fix{
		position: relative;
		top: -72px;
	}
	.product-name{
		position: relative;
		padding-left: 140px;
		padding-top: 5px;
	}
	.carousel-image-container{
		position: relative !important;
		left: -5px;
		top: 85px;
	}
	.carousel-button-top{
		left: -5px;
	}
	.typo{
		font-size: 500px; 
		margin-top: 350px !important;
		margin-right: 100px !important;
	}
	.description .carousel{
		top: 145% !important;
		left: 10px;
		width: 300px;
	}
	.description .carousel-indicators{
	 position: relative;
	 top: 25px;
	 left: 80%;
}
	.description .carousel-inner{
		height: 230px;
	}
	.maximize{
		top: -65px;
	}
	.carousel-buttons-bottom .fas{
		position:relative;
		left:0px;
	}
}
@media only screen and (max-width: 1370px) {
  .typo{
		font-size: 350px; 
		margin-top: 250px;
		margin-right: 70px;
	}
	.product-name{
		position: relative;
		padding-left: 55px;
		padding-top: 5px;
	}
	.carousel-image{
		height: 200px;
		width: 300px;
		margin-bottom: -10px;
		margin-right: -30px;
	}
	.text{
		font-size: 12px;
	}
	.carousel-sub-category{
		bottom: 30%;
	}
}
@media only screen and (max-width: 992px) {
  .jewellery-side-section, .homedecor-side-section{
		height: 50vh;
		width: 80vh;
	}
	.carousel-image{
		height: 200px;
		width: 300px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
  .carousel-indicators,.carousel-buttons-bottom{
		display: none !important;
	}
}
@media only screen and (max-width: 576px) {
	.carousel-indicators,.carousel-buttons-bottom{
		display: none !important;
	}
	.top-fix{
		display: flex;
		justify-content: center;
	}
	.maximize{
		position: absolute;
		left: 55vw;
		top:-25px;
	}
	.background-box-homedecor, .background-box-jewellery{
	height: 81.5vh;
	top: 0vh;
	}
	.category-carousel, .carousel-item img{
		height:100px;
		width: 200px;
	}
	.carousel-center{
		display: flex;
		justify-content: center;	
	}
	.navbar-brand{
		position: relative;
		left: -35px;
	}
	.carousel.slide.pointer-event{
		position: relative !important; 
		left: -10px !important;
	}
	.scn{
		padding-left: 1rem !important;
	}
	.top-fix{
		position: relative;
		top: 35px;
	}
	.homedecor-side-section, .jewellery-side-section{
		margin-bottom: 5px;
		margin-top: -50px;
	}
	.border_top{
		border:0px !important;
	}
	.text .product-name{
		font-size: 20px;
		margin-left:30%;
		top: 17%;
	}
	.text .product-desc{
		font-size: 12px;
		font-weight:300;
		margin-left:30%;
		top: -5%;
	}
	.carousel-sub-category{
		display: flex;
		justify-content: center;
	}
	.carousel-buttons{
		padding-top: 0px;
	}
	.carousel-sub-category{
		bottom: -40%;
		padding: 0px;
	}
	.bb{
		position: relative;
		top: 40px;
		left: 0px;
	}
	.homedecor-side-section{
		position: relative;
		top: 10px;
	}
	.sub-category-image{
		padding-left: 30px;
		height: 40vh;
		margin-top: 33%;
	}
	.big-image div{
		display: flex;
		justify-content: start;
	}
	.carousel-image{
		position:relative;
		left: -20px;
		height: 140px;
		width: 90%;
		margin-top: 50px;
		z-index:99;
	}
	.bb{
		border-bottom: none;
	}
	.carousel-center:after{
		background-color: red; 
    bottom: 0;
    border-bottom: 2px solid grey;
    content: '';
    display: block;
    height: 1px;
    left: 44%;
    position: absolute;
    transform: translate(-40%,0);
    width: 200px;
	}
	.carousel-image-container:after {
    background-color: red; 
    bottom: 0;
    border-bottom: 2px solid grey;
    content: '';
    display: block;
    height: 1px;
    left: 55%;
    position: absolute;
    transform: translate(-40%,0);
    width: 150px;
	}
	.carousel-inner{
		left: 65%;
  	transform: translateX(-60%);
	}
	.carousel-image-container{
		position: absolute;
		top: 203px;
  	left: 50%;
  	transform: translateX(-50%);
  	/*border-bottom: 1px solid black;*/
  	height:200px;
  	padding-right: 0px;
	}
	.typo{
		margin-top: -30vh;
		margin-left: 90vw;
		z-index: -4;
		font-size: 190px;
	}
	#nav{
	top: 10px;
	left: 10px;
	}
	.navbar{
		width: 95vw;
	}
	.navbar-nav{
		background: rgba(0,0,0,.6);
		color: white;
	}
	.nav-item{
		color: white;
		padding: 3px 20px !important;
	}
	.down-arrow{
		display: none;
	}
	.nav-item:hover{
		cursor: pointer;
	}
	.right, .up, .right2, .down, .left{
		opacity: 1 !important;
	}
	.down{
		margin-top: 105px;
	}
	.description .carousel{
		position:relative;
		top: 25vh !important;
		left: 10px;
		width: 300px;
	}
	.description .carousel-inner{
		height: 230px;
	}
	.maximize{
		top: -65px;
	}
	.carousel-buttons-bottom .fas{
		position:relative;
		left:0px;
	}
}

@media only screen and (max-width: 569px){
	.navbar-brand{
		position: relative;
		left:1px;
	}
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
